html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main.container {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    text-align: center;
    background: none;
    margin-top: 40px;
    padding-bottom: 16px;
}
